In [ ]:
#Exercicio
palavra_=_input('Digite_uma_palavra/frase_')

if_palavra.replace("_",_"").upper()_==_palavra.replace("_",_"")[::-1].upper():
_ print(f'{palavra}_e_um_Palindromo')
else:
_ print(f'{palavra}_nao_e_um_Palindromo')

In [ ]:
lista = [1, 2, 3, 10, 25]
print('Fatiando a lista: ' + str(lista[1:4]))
print('Imprimindo a lista em ordem inversa: ' + str(lista[::-1]))
print(lista)

In [ ]:
# Solicitando frase para o usuario
frase_base = input("Digite uma frase: ")
#Invertendo caracteres da frase, deixando todas as letras maiusculas e retirando
espacosfrase_inversa = frase_base[::-1].upper().replace(' ', '')
# Verificando se frase e um palindromo
if (frase_base.upper() == frase_inversa):
  print("Frase e um palindromo")
else:
  print("Frase nao e um palindromo")

In [ ]:
from random import *
print ('Gerando numero real entre 0 e 1:', random())
print ('Gerando numero real entre 10 e 20:', uniform(10,20))
print ('Gerando numero inteiro entre 10 e 20:', randint(10,20))
print ('Gerando numero par entre 10 e 20:', randrange(10,20,2))

In [ ]:
from random import sample
lista = sample(range(1, 101), 10)
print('Lista com numeros aleatorios de 1 a 100:' + str(lista))

In [ ]:
lista = [8, 89, 65, 63, 76, 8]
print('Quantidade de ocorrencias do numero 8 na lista: ' ,lista.count(8))
print('Posicao da primeira ocorrencia do numero 8 na lista: ', lista.index(8))
print('Posicao a primeira ocorrencia do numero 8 a partir da posicao 1:', lista.index(8, 1))

In [ ]:
lista = [1, 2, 3, 5, 9, 12]
lista.sort()
print('Lista ordenada:', lista)
lista.reverse()
print('Após inverter a lista:', lista)

In [ ]:
lista = [8, 89, 65, 63, 76, 8]
pos = 0
for i in range(1, lista.count(8) + 1):
  pos = lista.index(8, pos)
  print(pos)
  pos = pos + 1

In [ ]:
lista = ['Introducao a Python', 'Banco de Dados', 'Redes de Computadores']
print('Utilizando o join com listas: ', ';'.join(lista))

Crie uma lista contendo 10 valores inteiros aleatórios, entre 1 e 20. Imprima:

O maior valor, o menor valor, a soma e a média dos valores na lista

Ordene a lista, e em seguida, a imprima em ordem crescente

Imprima a lista em ordem decrescente

Solicite ao usuário que informe um valor e imprima a quantidade de ocorrências do valor na lista. Imprima uma mensagem, caso o valor não se encontre na lista

In [ ]:
iimport random
import numpy as np
# Definindo o
tamanho da listatamanho = 20
# Criando uma lista vazia para armazenar os valores gerados
lista = []
# Gerando valores aleatorios e adicionando a lista
for i in range(tamanho):
valor = random.randint(1, 20)
lista.append(valor)
# Imprimindo a lista gerada
print(lista)
print(f' o maximo da lista e {max(lista)}')
print(f' o minimo da lista e {min(lista)}')
print(f' a soma da lista e {sum(lista)}')
print(f'a media da lista e {np.mean(lista)}')

Solicite ao usuário que digite uma data no formato DD/MM/AAAA e imprima a data por extenso. Por exemplo:

08/11/2022 – 08 de novembro de 2022

(dica: crie uma lista contendo o nome de cada mês do ano)

In [ ]:
data = str(input("Digite uma data, ex:(22/02/2022): "))

meses = ['janeiro', 'fevereiro', 'marco', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro']

dia,mes,ano = data.split("/")

print(dia, "de", meses[int(mes) - 1], "de", ano)